* {margin: 0; padding: 0;}
ul {list-style: none;}
li {list-style: none;}
a {display: block; text-decoration: none;
color: #333;}

#wrap {
  width: 100%;
  height: 100vh;
  min-width: 320px;
  max-width: 460px;
  overflow: hidden;
  margin: 0 auto;
  background-color: #fff;
}
.top {
  width: 100%;
  padding: 30px 0 15px 0;
  box-sizing: border-box;
  /* background-image: url(../img/sense.jpg); */
}
.top .top_icon {
  /* width: calc(100% - 20px); */
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top .top_icon i {
  font-size: 18px;
}
.top .top_icon li {
  width: 20%;
  text-align: center;
}
.center {
  width: 100%;
  height: 62%;
  background-color: #eee;
  background-image: url(../img/bg.jpg);
  background-size: 100% 100%;
}

.bottom_top {
  position: relative;
  width: 100%;
  height: 40px;
  /* background-color: blue; */
}
.bottom_top .top_btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 5px;
  background-color: #eee;
  border-radius: 30px;
  overflow: hidden;
  font-size: 12px;
  line-height: 25px;
}
.bottom_top .btn_circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #333;
}



.bottom_bottom {
  width: calc(100% - 20px);
  margin: 0 auto; 
}

.bottom_bottom ul {
  width: calc(100% - 40px);
  /* height: 90%; */
  display: flex;
  /* background-color: red; */
  margin: 0 auto;
}
.bottom_bottom ul li {
  width: 30%;
  background-color: #fff;
  margin-right: 5px;
  text-align: center;
}
.bottom_bottom .picture li:first-child {
  margin-right: 25px;
}

.bottom_bottom ul li:last-child {
  margin-right: 0;
}
.bottom_bottom ul li .pic {
  width: 100%;
  height: 50px;
}
.bottom_bottom ul li .pic img {
  width: 100%;
  height: 100%;
}

.bottom_bottom ul li .text {
  font-size: 10px;
  padding-top: 3px;
  font-weight: bold;
}
.bottom_bottom .pic0 {background-color: lightsteelblue;}
.bottom_bottom .pic1 {opacity: 0.6;}
.bottom_bottom .pic2 {opacity: 0.7;}
.bottom_bottom .pic3 {opacity: 0.8;}
.bottom_bottom .pic4 {opacity: 0.9;}
.bottom_bottom .pic5 {opacity: 1;}
.bottom_bottom .pic {
  border-radius: 5px;
  overflow: hidden;
  border: 2px solid transparent;
  box-sizing: border-box;
}
.bottom_bottom .pic.on {
  border: 2px solid #000;
  box-sizing: border-box;
}
.bottom_bottom .share {
  display: none;
}
.bottom_bottom .share_top {
  width: 100%;
  /* height: 90px; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  /* display: none; */
  /* margin-top: -5.5px; */
  font-size: 7px;
  /* padding-top: 20px; */
}
.bottom_bottom .share_top li {
  width: 15%;
  padding: 40px 5px 18px 5px;
  line-height: 18px;
  font-weight: bold;
  /* font-size: 10px; */
  /* margin: 10px 0; */
  /* box-sizing: border-box; */
}
.bottom_bottom .share_top li img {
  width: 80%;
}
.bottom_bottom .share_bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}
  .bottom_icon {
  display: flex;
  margin: 20px auto;
  justify-content: center;
  align-items: center;
}
.bottom_icon li {
  width: 33.33%;
  text-align: center;
}